# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directories
[o][O]ut/
[o][O]utput/
bin/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeFiles
cmake_install.cmake
CTest

# Visual Studio
.vs/
[d][D]ebug/
[r][R]elease/
*.vcxproj
*.vcxproj.*
*.ncb
*.pdb
*.idb
*.opensdf
*.sdf
*.bsc
*.suo
*.sln
ipch

# Visual Studio Code
.vscode/
.ionide/

